
$primary-color: #343433;
$main-color: #F22727;
$hover-color: #0056b3;
$list-color: #fff;
$rating-15-color: #DD7430;
$rating-12-color: #E9B62F;
$rating-all-color: #269C56;
$selected-bg: #555554;
$font-size-rating: 0.9rem;
$padding: 20px;



h1, h2, h3, p { padding: 0; margin: 0; }
ul, li {
  margin: 0; padding: 0;
}
li {
  list-style: none;
}

body {
  background: #F0F0E9;
}


.reservation {
  padding: $padding;
  width: 1240px;
  margin: 0 auto;
  h1 {
    a {
      img {
        width: 100px;
      }
    }
  }
  label {
    display: block;
    text-align: center;
    font-weight: 800;
    background: $primary-color;
    color: #fff;
    padding: 10px 0;
  }

  .movie-rating {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: #fff;
    width: 30px;
    padding: 2px 0;
    margin-right: 8px;
    border-radius: 4px;

    &.rating-15 {
      background-color: $rating-15-color;
    }

    &.rating-12 {
      background-color: $rating-12-color;
    }

    &.rating-all {
      background-color: $rating-all-color;
    }
  }

  .selection-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top:40px;
  }

  .selection-item {
    width: 32%;
    margin-bottom: 20px;
  }
  .selection-item:nth-child(2), .selection-item:nth-child(3), .selection-item:nth-child(4), .selection-item:nth-child(5) {
    width: 16%;
  }

  .selection-list {
    list-style-type: none;
    padding: 0;
    
    li {
      cursor: pointer;
      padding: 10px;
      background-color: $list-color;
      margin-bottom: 5px;
      transition: background-color 0.3s;
      font-weight: 800;

      &.selected {
        background: $selected-bg;
        color: #fff;
      }
    }
  }
  button {
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    font-size: 24px;
    background-color: $primary-color;
    color: white;
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 10px;
    opacity: 1;
    transition: all .2s;
    cursor: pointer;
  
    &:hover {
      background-color: $main-color;
    }
  }
}


.seatReservation {
  width: 1240px;
  margin: 0 auto;
  padding: $padding;
  position: relative;
  h1 {
    img {
      width: 100px;
    }
  }
  .type {
    display: flex;
    font-weight: 600;
    li {
      padding: 2px 10px;
      transition: background-color .3s;
      border-radius: 8px;
    }
  }
  .selected {
    margin-top:40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .movie-info {
    min-width: 300px;
    position: absolute;
    right:0px;
    top: 0px;
    border-radius: 10px;
    background: $primary-color;
    color: #fff;
    padding: 20px;
    h3 {
      border-bottom: 1px solid #666;
      padding-bottom: 10px;
      margin-bottom: 11px;
    }
    .info-wrap {
      display: flex;
      justify-content: space-between;
      color: #ccc;
      padding: 10px 0 40px;
    }
    button {
      margin: 0 auto;
      padding: 10px;
      width: 50%;
      opacity: 0.8;
      border: none;
      color: #fff;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
    button:nth-child(1){
      background: $selected-bg;
    }
    button:nth-child(2){
      background: $main-color;
    }
  }
  .seat{
    position: relative;
  }

  .reservation-summary {
    margin: 50px 0;
    padding: 20px 30px;
    border-radius: 20px;
    background: rgba(255,255,255,0.7);
    color: #333;

    h3 {
      text-align: center;
      font-size: 30px;
      margin-bottom: 40px;
      letter-spacing: -0.1rem;
      color: #444;
    }

    .reservation-details {
      display: flex;
      font-weight: 600;
      div {
        p {
          padding: 10px 0;
          strong {
            display: inline-block;
            width: 120px;
            color: #444;
          }
        }
      }
    }
  }
  
}


@media screen and (max-width: 768px) {
  .reservation {
    width: 100%;
    .selection-container {
      .selection-item {
        width: 100%;
      }
    }
  }


  .seatReservation {
    width: 100%;
    .seat {
      .movie-info {
        position: inherit;
        margin-top: 30px;
      }
    }

    .reservation-summary {
      .reservation-details {
        flex-direction: column;
        div {
          img {
            width: 100% !important;
            object-fit: cover;
            margin-right: 0px !important;
          }
        }
      }
    }
  }

  .seat-wrap {
    width: 400px !important;
    div {
      margin-bottom: 2px !important;
      .seat-rows {
        width: 34px !important;
      }
    }
  }
  .seat-box {
    width: 12px !important;
    height: 12px !important;
    font-size: 10px !important;
  }
}

